* {
  margin: 0px;
  font-family: sans-serif;
  --separacion: 25px;
  --letraSize: 0.9em;
}

header,
footer {
  font-size: 1rem;
  text-align: center;
  background-color: #80b2ec;
  padding: var(--separacion);
}

span {
  font-size: 1.6rem;
  color: #80b2ec;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 40px 0px 40px 0px;
}

section {
  p {
    text-align: center;
    padding: var(--separacion);
  }
}

ul {
  margin-bottom: var(--separacion);
}

article,
aside {
  background-color: #eef5fc;
  padding: 25px;

  p {
    padding-bottom: var(--separacion);
    font-size: var(--letraSize);
  }
}

#galeria {
  font-size: 1.6rem;
  color: #80b2ec;
}

#gallery {
  text-align: center;

  #photos {
    margin: 50px 0px 50px;

    img {
      width: 300px;
      margin: 10px;
      border-radius: 10px;
    }
  }
}

@media (min-width: 768px) {
  #gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  aside {
    ul {
      padding: 0px 110px 0px;
    }
  }
}

@media (min-width: 1024px) {
  #quees {
    padding: 0px 280px 25px;
  }
  
  aside {
    ul {
      padding: 0px 150px 0px;
    }
  }
}
