@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  --primaryColor: #f8cb74;
  --secondColor:  #232323;
  --textFormColor:  rgba(184, 184, 184, 0.46);
  background-color: var(--primaryColor);
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.namePosition {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  align-content: center;
}

.name,
.subname {
  width: 95%;
  font-size: 21vw;
  margin: auto;
  font-weight: bolder;
  letter-spacing: 15px;
}

.worker {
  
  width: 90%;
  margin: 10px auto 0px;
  overflow: hidden;
  position: relative;
  background-color: #000;
  height: 35px;
  border-radius: 15px;
}

.worker p {
  background-color: #000;
  width: 100%;
  color: var(--primaryColor);
  border-radius: 30px;
  padding: 6px;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.containerTwo {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  align-content: center;
  font-size: 15vw;
  font-weight: bolder;

  p {
    font-size: 13vw;
  }
}

#visibleAbout {
  display: none;
}

.aboutText {
  display: inline-flex;
  align-items: center;
}

.toggle-label {
  cursor: pointer;
  transition: all 0.5s ease;
  display: inline-block;
  position: relative;
}

.toggle-label .placeholder {
  display: inline;
}

.toggle-label .hidden-content {
  display: none;
  font-size: 9.5px;
  font-weight: normal;
  line-height: 15px;
  background-color: #000;
}

#visibleAbout:checked + p.aboutText .toggle-label {
  background-color: #000;
  border-radius: 50%;
  color: white;
  padding: 0.9em 1em 1.4em;
  width: 150px;
  height: 150px;
  text-align: center;
  align-content: center;
}

#visibleAbout:checked + p.aboutText .toggle-label .hidden-content {
  display: inline;
}

#visibleAbout:checked + p.aboutText .toggle-label .placeholder {
  display: none;
}

.placeholder {
  display: inline-block;
  animation: colorChange 8s linear infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(255, 255, 255);
  }
  25% {
    color: rgb(126, 126, 126);
  }
  50% {
    color: rgb(42, 42, 42);
  }
  75% {
    color: rgb(127, 127, 127);
  }
  100% {
    color: rgb(210, 210, 210);
  }
}

#visibleContact {
  display: none;
}

.contactText {
  display: inline-flex;
  align-items: center;
}

.toggle-label-contact {
  cursor: pointer;
  transition: all 0.5s ease;
  display: inline-block;
  position: relative;
}

.toggle-label-contact .placeholder {
  display: inline;
  
}

.hidden-contact {
  display: none;
  font-size: 19px;
  font-weight: 900;
  background-color: #000000;
  padding: 10px;
  border-radius: 8px;
  width: 85%;
  margin: 10px auto;
}

#visibleContact:checked ~ .hidden-contact {
  display: flex;
  flex-direction: column;
  
}

#contactoForm {
  display: flex;
  flex-direction: column;
  background-color:var(--secondColor);
}

#contactoForm label {
  color:rgba(184, 184, 184, 0.46);
  font-size: 0.9rem;
  font-weight: normal;
  background-color:var(--secondColor);
}

#contactoForm input,
#contactoForm select,
#contactoForm button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  font-size: 10px;
  background-color: var(--secondColor);
  
}

#contactoForm input,
#contactoForm select {
  background-color: var(--secondColor);
  color: var(--primaryColor);
}

#contactoForm input::placeholder,
#contactoForm textarea::placeholder {
  color: var(--primaryColor);
}

#contactoForm textarea {
  resize: vertical;
  min-height: 120px;
}

#contactoForm button {
  background-color: var(--secondColor);
  color: var(--primaryColor);
  cursor: pointer;
  transition: background 0.3s ease;
}

#contactoForm button:hover {
  background-color: #333;
}




img {
  border-radius: 10px;
  width: 100px;
  height: auto;
}

.hidden-porfolio {
  display: none;
  background-color: #000;
 
}

#visiblePorfolio {
  display: none;
}

.PorfolioText {
  display: inline-flex;
  align-items: center;
}

.toggle-label-porfolio {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
  
}

.toggle-label-porfolio .placeholder {
  display: inline;
  
}

.toggle-label-porfolio .hidden-porfolio {
  display: none;
}

#visiblePorfolio:checked + p.porfolioText .toggle-label-porfolio {
  border-radius: 50px;
  height: 110px;
  text-align: center;
  align-content: center;
}

#visiblePorfolio:checked + p.porfolioText .toggle-label-porfolio .hidden-porfolio {
  display: flex;
  flex-direction: row;    
  justify-content: center; 

}

#visiblePorfolio:checked + p.porfolioText .toggle-label-porfolio .placeholder {
  display: none;
}

#visiblePorfolio:checked ~ .hidden-porfolio {
  display: block;
}

.marquee {
  background-color: #000;
  padding: 15px;
  display: flex;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee img {
  width: 100px;
  height: auto;
  margin-right: 100px;
}


nav {
  font-size: 11px;
  margin-top: 30px;

  ul {
    list-style: none;
    display: inline-flex;
    margin-right: 40px;
    li {
      margin: 5px;
    }

    a {
      text-decoration: none;
      color: inherit;
      font-style: normal;
    }
  }
}

footer {
  color: var(--primaryColor);
  background-color: #000;
  font-size: 10px;
  text-align: center;
  padding: 15px;
}

@media (min-with: 1024) {
}
