* {
  margin: 0px;
  font-family: san sans-serif;
}

body {
  background-image: url(/LDM/Capitan-Veneno/img/bg.png);
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

header {
  background-color: #ffffff;
  grid-area: header;
}

h1 {
  margin: 50px 0px 25px;
}

h2 {
  margin: 10px 0px 40px;
}

main h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  margin: 20px 0px 30px;
}

nav {
  background-color: black;
  padding: 10px;
}

ul {
  list-style: none;
}

li {
  color: #ffff;
  font-size: 1rem;
  display: inline;
  margin: 0px 25px 0px;
}

main {
  grid-area: main;
}

p {
  font-size: 1.05rem;
  margin-bottom: 15px;
}

figure {
  float: right;
}

figure img {
  height: auto;
  padding: 20px 0px 0px 50px;
}

figcaption {
  font-size: 1rem;
  text-align: right;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px;
}

footer {
  grid-area: footer;
  color: #ffff;
  background-color: black;
  text-align: center;
  padding: 10px;
}

img {
  height: 170px;
  width: 250px;
  margin-bottom: 5px;
}

.contenedor {
  background-color: #ffff;
  margin: 20px 30px 0px;
  padding: 30px;
  text-align: justify;
}

.contenido-img {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.cabecera {
  text-align: center;
}
