* {
  margin: 0px;
  font-family: sans-serif;
  font-size: 0.1em;
}

body {
}

header {
  grid-area: header;
  text-align: center;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
    }

    li {
      margin: auto;
    }
}

h1 {
  padding: 10px 0px 10px;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

img {
  display: flex;
  flex-direction: column;
  max-width: 40px;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 10%;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
