:root {
  --font-size-text: 1.15rem;
  --font-size-footer: 1.15rem;
}

* {
  margin: 0px;
  padding: 0px;
}

.fs-text {
  font-size: var(--font-size-text);
}

.fs-footer {
  font-size: var(--font-size-footer);
}

@media (min-width: 768px) {
  .fs-text {
    font-size: 0.66rem;
  }

  .fs-footer {
    font-size: 0.7rem;
  }
}

@media (min-width: 992px) {
  .fs-text {
    font-size: 0.7rem;
  }
  .fs-footer {
    font-size: 0.5rem;
  }
}
